body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.containerCard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
}

.card {
  padding: 10px;
  height: 50px;
  width: 200px;
  border: 2px solid black;
  border-radius: 4px;
}
